# Copyright (c) 2009-2012, 2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import /init.c70n_product.rc
# BT_S : [CONBT-720] BDADDR_LOADER
import /init.lge.bt_vendor.rc
# BT_E : [CONBT-720] BDADDR_LOADER
import /init.c70n_sensors.rc
import /init.lge.svelte.rc
# FM Framework
#import /init.fm_vendor.rc

on init
    # START touch_driver
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
    chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
    chown system system /sys/devices/virtual/input/lge_touch/lpwg_notify
    chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
    chown system system /sys/devices/virtual/input/lge_touch/ts_noise_log_enable
    chmod 664 /sys/devices/virtual/input/lge_touch/ts_noise_log_enable
    chown system system /sys/devices/virtual/input/lge_touch/ts_noise
    chmod 664 /sys/devices/virtual/input/lge_touch/ts_noise
    chmod 664 /sys/devices/virtual/input/lge_touch/quick_cover_status
    chown system system /sys/devices/virtual/input/lge_touch/quick_cover_status
    chown system lgkeyguard /sys/devices/virtual/input/lge_touch/keyguard
    chmod 664 /sys/devices/virtual/input/lge_touch/keyguard

service atd /system/bin/atd /dev/ttyGS0 /dev/smd0
    socket atd stream 0660 system inet
    class main

#LGE_CHANGE_S, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com
on property:init.svc.media=restarting
    restart qcamerasvr
on property:init.svc.servicemanager=restarting
    restart qcamerasvr
#LGE_CHANGE_E, restart qcamerasvr when restarting mediaserver and servicemanager, yousung.kang@lge.com

service chcon_keystore /system/bin/sh /system/etc/init.c70n_chcon_keystore.sh
    disabled
    oneshot
    seclabel u:r:keystore:s0

on boot
    lge_chcon_recursive /data/property u:object_r:property_data_file:s0
    lge_chcon_recursive /data/security u:object_r:security_file:s0
    start chcon_keystore

#Sensor daemon
service sensord /system/bin/sensord
	user system
	group system
	class late_start
	oneshot

# LG RCT(Rooting Check Tool)
service rctd /system/bin/rctd
    class late_start
    user root
    group root
